@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
    --app-font-family: "Montserrat", sans-serif;
    --app-color-subtle: #EAEAEA;
    --app-color-accent: #7D0C31;
    --app-color-supporting-1: #E2D6CD;
    --app-color-supporting-2: #CFB7A5;
    --app-color-text: #49341C;

    --box-shadow: 1px 1px 10px rgba(189, 189, 189, 0.4);
    --border-radius: 2px;
}

html {
    scroll-behavior: smooth;
}

#scroll {
    position: relative;
    bottom: 100px;
}

body {
    background-color: var(--app-color-subtle);
    font-family: var(--app-font-family);
    color: var(--app-color-text);
}

.navbar-brand, .nav-link {
    color: var(--app-color-text);
}

.navbar-brand:hover, .nav-link:hover {
    color: var(--app-color-accent);
    /* text-decoration: underline!important; */
}

h1, h3, label {
    line-height: 67px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

h1 {
    font-size: 50px;
    text-align: center;
}

h3 {
    font-size: 20px;
}

label {
    margin-bottom: 0;
}

p {
    line-height: 155%;
}

input {
    border: 1px solid var(--app-color-supporting-2)!important;
    border-radius: var(--border-radius)!important;
    box-shadow: var(--box-shadow)!important;
    color: var(--app-color-text)!important;
    height: 45px!important;
    background-color: var(--app-color-subtle)!important;
}

input:focus, textarea:focus {
    border: 1px solid var(--app-color-text)!important;
    /* outline: none!important; */
    background-color: var(--app-color-subtle)!important;
}

.navbar {
    box-shadow: var(--box-shadow);
    background-color: var(--app-color-subtle);
    height: 45px;
}

.navbar-toggler:focus, .navbar-toggler:active:focus, .navbar-toggler:focus {
    outline: none;
    border: 1px solid var(--app-color-text);
    border-radius: var(--border-radius);
}

.container {
    max-width: 1060px;
}

header {
    margin-bottom: 55px;
}

.header-content {
    margin-top: 2rem;
}

.owner-header {
    position: absolute;
    top: 6%;
    width: 100%;
}

.owner-header-image-div {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 1rem;
    overflow: hidden;
    box-shadow: var(--box-shadow);
}

.owner-header-image-div img {
    height: 100%;
}

.img-display, .svg-display {
    display: none;
}

.svg {
    filter: drop-shadow(var(--box-shadow));
}

.img-width-100 {
    width: 100%;
}

.cta {
    text-transform: uppercase;
    color: var(--app-color-subtle);
    background-color: var(--app-color-accent);
    border: 1px solid var(--app-color-text);
    padding: 10px 20px;
    margin: 55px auto;
    display: block;
    width: fit-content;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.cta:hover {
    background-color: var(--app-color-supporting-2);
    text-decoration: none;
    color: var(--app-color-text);
}

.cta-button {
    padding: 10px 30px;
}

.cta-button:focus, .cta:focus, button:focus {
    border: 1.5px solid var(--app-color-text);
}

.return-link {
    color: var(--app-color-text);
    text-decoration: underline;
}

.return-link-form {
    display: block;
    margin: -30px auto 20px auto;
}

.return-link:hover, .return-link:focus {
    color: var(--app-color-accent);
}

.usp-img-background {
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1.5px solid var(--app-color-supporting-2);
    background-color: var(--app-color-subtle);
}

.usp-icon, .usp-icon-3 {
    margin: auto;
    display: block;
    position: relative;
}

.usp-icon-3 {
    top: 30px;
}

.usp-icon {
    top: 45px;
}

.usp-text {
    max-width: 257px;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 35px;
}

.usp-row {
    position: relative;
    /* bottom: 350px; */
    bottom: 21rem;
}

/* how to fix svg responsiveness */
@media (max-width: 1280px) {
    .usp-row {
        bottom: 18rem;
    }
}

@media (max-width: 1095px) {
    .usp-row {
        bottom: 17rem;
    }
}

.container-icons, .container-footer {
    height: 0px;
}

#section-additional {
    margin-top: 55px;
}

.img-additional {
    width: 85%;
    box-shadow: var(--box-shadow);
}

#section-break {
    margin-bottom: 55px;
}

.form-p {
    max-width: 707px;
}

.form-text, .form-p {
    display: block;
    margin: auto;
}

.form-text h3 {
    font-size: 20px;
    line-height: 2em;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

form {
    margin: auto;
    min-width: 85%;
    margin-top: 2rem;
}

.wishlist-description-p {
    display: block;
    margin: auto;
    max-width: 770px;
}

::placeholder {
    text-transform: uppercase;
}

.present-description::placeholder {
    text-transform: none;
    font-style: italic;
}

.present-form-div, .present-form-div textarea {
    width: 315px;
    height: 540px;
    border: 1px solid var(--app-color-supporting-2);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    background-color: var(--app-color-subtle);
}

.present-description {
    height: 105px!important;
    margin-bottom: 30px!important;
}

.present-form-div input, .present-form-div textarea {
    width: 277px;
    margin: 3px auto 10px auto;
    /* height: 540px;
    border: 1px solid var(--app-color-supporting-2);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    background-color: var(--app-color-subtle); */
}

.cta-present-form {
    margin: 30px auto 0 auto;
}

/* Footer */
.social-icons {
    margin: auto;
}

.social-icons a:hover {
    text-decoration: none;
    color: transparent;
}

.social-icons a {
    margin: 0 30px;
}

#footer-content {
    position: relative;
    bottom: 140px;
    color: var(--app-color-subtle);
    margin: auto;
}

#footer-content .row {
    margin-right: 0;
}

.copyrights {
    margin: auto;
    margin-top: 40px;
}
/* Footer */

/* Media - responsiveness */
@media (max-width: 991px) {
    .navbar {
        height: fit-content;
    }
    .container-icons {
        height: fit-content;
        box-shadow: var(--box-shadow);
    }
    .usp-row {
        bottom: 0;
        background-color: var(--app-color-supporting-1);
        padding: 60px!important;
    }
    .usp-container {
        margin: 20px auto;
    }
    h1 {
        font-size: 38px;
    }
    .img-additional {
        max-width: 60%;
        margin: auto;
        display: block;
    }
    .text-additional {
        width: 70%;
        margin: auto;
    }
    .text-additional h3 {
        margin-top: 20px;
        line-height: 40px;
        text-align: center!important;
    }
    .text-additional p {
        margin-bottom: 0;
        text-align: center!important;
    }
    .navbar-brand {
        font-size: 16px;
    }
    .form-group, .form-text {
        width: 70%;
        margin: 0 auto;
    }
    .form-p {
        margin-top: 30px!important;
    }
    .form-text label {
        line-height: 30px;
    }
}

@media (max-width: 675px) {
    .navbar-brand, .nav-link {
        font-size: 13px;
    }
    .header-content {
        max-width: 300px;
        margin: auto;
    }
    h1 {
        font-size: 28px;
        line-height: 40px;
        margin: 0.5rem auto;
    }
    body {
        font-size: 14px;
    }
    .cta {
        margin: 40px auto;
    }
    .return-link {
        margin: -20px auto 20px auto;
    }
    .form-group, .form-group-present {
        width: 90%;
        margin: 0 auto;
    }
    .form-text {
        width: 85%;
        margin: 0 auto;
    }
    .social-icons img {
        width: 25px;
    }
    .img-additional {
        max-width: 100%;
        /* margin: auto;
        display: block; */
    }
    .text-additional {
        width: 85%;
        /* margin: auto; */
    }
    .usp-row {
        padding: 20px!important;
    }
    .usp-img-background {
        width: 100px;
        height: 100px;
    }
    .usp-img-background img {
        width: 40px;
    }
    .usp-icon-3 {
        top: 1.5rem;
    }
    .usp-icon {
        top: 2rem;
    }
    .usp-text {
        max-width: 200px;
    }
    .img-hide-display, .svg-hide-display {
        display: none;
    }
    .img-display, .svg-display {
        display: block;
    }
    header {
        margin-bottom: 1rem;
    }
    #footer-content {
        bottom: 5.2rem;
    }
    .copyrights {
        margin-top: 20px;
        font-size: 11px;
    }
}

@media (max-width: 555px) {
    .header-content {
        max-width: 300px;
        margin: auto;
    }
    form {
        margin-top: 1rem;
    }
}
/* Media - responsiveness */