{% extends 'base.html'%}
{% block content %}

<h1>WISHLIST NAME xxx</h1>
<p>UPDATE THE FORM HERE</p>



    <form action="{{ url_for('add_presents') }}" method="POST">
        <div class="form-group">

            <!-- wishlist description -->
            <label for="wishlist_description">Wishlist Description</label>
            <input type="text" class="form-control" id="wishlist_description" name="wishlist_description">
            <!-- header image -->
            <label for="wishlist_header_image_URL">Wishlist Header Image</label>
            <input type="text" class="form-control" id="wishlist_header_image_URL" name="wishlist_header_image_URL">
            

            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

{% endblock %}