{% extends 'base.html'%}
{% block content %}

<h1>WWELCOME XYZ</h1>
<p>here add presents below</p>

    <form action="{{ url_for('add_new_present') }}" method="POST">
        <div class="form-group">
            <!-- wishlist description -->
            <label for="present_description">Present Description</label>
            <input type="text" class="form-control" id="present_description" name="present_description">
            <!-- header image -->
            <label for="present_header_image_URL">Present Header Image</label>
            <input type="text" class="form-control" id="present_header_image_URL" name="present_header_image_URL">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>


{% endblock %}