<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"/>

    <title>Book My Wedding Wish - Free Wedding Registry</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a class="navbar-brand text-uppercase" href="{{ url_for('homepage') }}">Book My Wedding Wishlist</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <img src="{{ url_for('static', filename='images/icons/icon-burger.svg') }}" alt="Menu icon">
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% block navlinks %} {% endblock %}
                </ul>
            </div>
        </div>
    </nav>

<header>
    {% block header %} {% endblock %}
</header>




{% block content %} {% endblock %}



<footer>
    <!-- <svg viewBox="0 0 1440 456" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg svg-hide-display">
        <defs>
            <clipPath id="theClippingPathFooter"> 
                <path d="M1440 456L8.07047e-05 456V27.4397C285.724 -8.22297 445.726 -9.36743 731.5 25.4371C1004.9 58.9221 1160.15 59.815 1440 27.4397V456Z" fill="#E2D6CD"/>
            </clipPath> 
        </defs> 
        <image xlink:href="{{ url_for('static', filename='images/img-footer.png') }}" clip-path="url(#theClippingPathFooter)"></image>
    </svg>
    <svg viewBox="0 0 600 400" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg svg-display">
        <defs>
            <clipPath id="theClippingPathFooterMob"> 
                <path d="M600 400L5.03659e-06 400V24.0699C119.052 -7.21314 185.719 -8.21705 304.792 22.3132C418.71 51.686 483.395 52.4693 600 24.0699V400Z" fill="#E2D6CD"/>
            </clipPath> 
        </defs> 
        <image xlink:href="{{ url_for('static', filename='images/img-footer-mob.png') }}" clip-path="url(#theClippingPathFooterMob)"></image>
    </svg> -->
    <img src="{{ url_for('static', filename='images/footer-dsk.png') }}" class="img-hide-display img-width-100" alt="">
    <img src="{{ url_for('static', filename='images/footer-mob.png') }}" class="img-display img-width-100" alt="">
    <div id="footer-content" class="container-footer">
        <div class="row">
        <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank">
                <img src="{{ url_for('static', filename='images/icons/social-icons/icon-facebook.svg') }}" alt="Facebook">
            </a>
            <a href="https://www.instagram.com" target="_blank">
                <img src="{{ url_for('static', filename='images/icons/social-icons/icon-instagram.svg') }}" alt="Instagram">
            </a>
            <a href="https://www.pinterest.com" target="_blank">
                <img src="{{ url_for('static', filename='images/icons/social-icons/icon-pinterest.svg') }}" alt="Pinterest">
            </a>
        </div>
        </div>
        <div class="row">
        <div class="copyrights">
            <p class="text-center">
                ©2020 <span class="text-uppercase">My Wedding Wish,</span> Hauptstr. 678, Berlin
            </p>
        </div>
        </div>
    </div>
</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>