{% extends 'base.html'%}

{% block header %}
    <svg viewBox="0 0 1440 456" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg svg-hide-display">
        <path d="M0 0H1440V428C1154.28 463.616 994.274 464.759 708.5 430C435.096 396.559 279.852 395.667 0 428V0Z" fill="#CFB7A5"/>
    </svg>
    <svg viewBox="0 0 600 400" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg svg-display">
        <path d="M0 0H600V375.93C480.948 407.213 414.281 408.217 295.208 377.687C181.29 348.314 116.605 347.531 0 375.93V0Z" fill="#CFB7A5"/>
    </svg>
    <div class="owner-header">
        <div class="owner-header-image-div">
            <img src="{{ the_wishlist.wishlist_header_image_URL }}" alt="Couple Photo">
        </div>
        <h1>{{ the_wishlist.wishlist_name }}</h1>
        <h3 class="text-center">{{ the_wishlist.wishlist_wedding_location }} - {{ the_wishlist.wishlist_wedding_date }}</h3>
    </div>
{% endblock %}


{% block content %}

<h1>WELCOME GUEST</h1>
<p>here add presents below</p>

<p>THIS IS THE DOC ID: {{ wishlist_username }}</p>

<p>THIS IS THE WHOLE DOC: {{ the_wishlist }}</p>

<h4>THESE ARE ALL PRESENTS IN THE DOC ABOVE:</h4>

<p>
{% for present in displayed_presents %}
        <li>
            <h5>{{ present.present_description }}</h5>
            <p>Present booked by: "{{ present.present_booked_by_name }}"</p>
        </li>
{% endfor %}
</p>


<section id="section-form">
    <div class="container">
        <div class="form-text">
            <h3 class="text-center">Please submit your name and surname below:</h3>
        </div>
        <div class="row">
            <form action="{{ url_for('add_guest_username', wishlist_username=wishlist_username) }}" method="POST">
                <div class="form-group">
                    <!-- Name -->
                    <label for="user_name">Your Name</label>
                    <input type="text" class="form-control" id="user_name" name="user_name" required>
                    <!-- Surname -->
                    <label for="user_surname">Your Surname</label>
                    <input type="text" class="form-control" id="user_surname" name="user_surname" required>
                    <button type="submit" class="cta cta-button">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}