{% extends 'base.html'%}

{% block header %}
    <svg viewBox="0 0 1440 456" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg svg-hide-display">
        <path d="M0 0H1440V428C1154.28 463.616 994.274 464.759 708.5 430C435.096 396.559 279.852 395.667 0 428V0Z" fill="#CFB7A5"/>
    </svg>
    <svg viewBox="0 0 600 400" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg svg-display">
        <path d="M0 0H600V375.93C480.948 407.213 414.281 408.217 295.208 377.687C181.29 348.314 116.605 347.531 0 375.93V0Z" fill="#CFB7A5"/>
    </svg>
    <div class="owner-header">
        <div class="owner-header-image-div">
            <img src="{{ the_wishlist.wishlist_header_image_URL }}" alt="Couple Photo">
        </div>
        <h1>{{ the_wishlist.wishlist_name }}</h1>
        <h3 class="text-center">{{ the_wishlist.wishlist_wedding_location }} - {{ the_wishlist.wishlist_wedding_date }}</h3>
    </div>
{% endblock %}

{% block content %}

<h1>WELCOME GUEST</h1>
<p>THIS IS YOUR ID: {{ the_full_user_username_id }}</p>
<p>here add presents below</p>

<p>THIS IS THE DOC ID: {{ wishlist_username }}</p>

<p>THIS IS THE WHOLE DOC: {{ the_wishlist }}</p>

<h4>THESE ARE ALL PRESENTS IN THE DOC ABOVE:</h4>
<p>
{% for present in displayed_presents %}
        <li>
            <h5>{{ present.present_description }}</h5>
            <p>booked by: [ {{ present.present_booked_by_name }} ]</p>
            <p>ID: [ {{ present._id }} ]</p>
            
            <p>
            {% if present.present_booked_by_id == the_full_user_username_id %}
                <p>I am booked already by YOU</p>
                <!-- Button trigger modal - Unbook Present-->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#unbookPresentModal{{ present._id }}">
                    UNBOOK ME
                </button>
                <!-- Present Modal -->
                <div class="modal fade" id="unbookPresentModal{{ present._id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close close-modal-button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">
                                        <img src="{{ url_for('static', filename='images/icons/present-form-icons/icon-present-delete.svg') }}" class="present-availability-img" alt="">
                                    </span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p class="text-center">
                                    Are you sure you want to unbook
                                    <br>
                                    <span class="text-uppercase">"{{ present.present_title }}"?</span>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="cta cta-button" data-dismiss="modal">Cancel</button>
                                <a href="{{ url_for('unbook_present', wishlist_username=wishlist_username, the_full_user_username_id=the_full_user_username_id, present_id=present._id) }}" class="return-link">Unbook</a>
                            </div>
                        </div>
                    </div>
                </div>





            {% elif present.present_availability == False %}
                <p>I am booked already by someone else</p>
                <p class="text-muted">BOOK MY WISH</p>
            {% else %}
                <p>I am available to you</p>
                <a href="{{ url_for('book_present', wishlist_username=wishlist_username, the_full_user_username_id=the_full_user_username_id, present_id=present._id) }}" class="text-success">BOOK MY WISH</a>
            {% endif %}
            </p>
        </li>
{% endfor %}
</p>



{% endblock %}