{% extends 'base.html'%}

{% block navlinks %}
    <li class="nav-item">
        <a class="nav-link text-uppercase" href="{{ url_for('homepage') }}">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-uppercase" href="#scroll">Create Guest Username</a>
    </li>
{% endblock %}


{% block header %}
    <svg viewBox="0 0 1440 456" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg svg-hide-display">
        <path d="M0 0H1440V428C1154.28 463.616 994.274 464.759 708.5 430C435.096 396.559 279.852 395.667 0 428V0Z" fill="#E2D6CD"/>
    </svg>
    <svg viewBox="0 0 600 400" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg svg-display">
        <path d="M0 0H600V375.93C480.948 407.213 414.281 408.217 295.208 377.687C181.29 348.314 116.605 347.531 0 375.93V0Z" fill="#E2D6CD"/>
    </svg>
    <div class="owner-header">
        <div class="owner-header-image-div">
            <img src="{{ the_wishlist.wishlist_header_image_URL }}" alt="Couple Photo">
        </div>
        <h1>{{ the_wishlist.wishlist_name }}</h1>
        <h3 class="text-center">{{ the_wishlist.wishlist_wedding_location }} - {{ the_wishlist.wishlist_wedding_date }}</h3>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <p class="text-center font-italic wishlist-description-p">"{{ the_wishlist.wishlist_description }}"</p>
    </div>
</div>
<div class="line">
</div>

<section id="section-presents">
    <div class="container">
        <div class="presents">
            <div class="row ">
                
                    {% for present in displayed_presents %}
                        <div class="col-lg-4 col-md-6 present-card">
                        <div class="present-div">

                        <!-- book present button -->
                        <div class="present-availability-btns">
                            {% if present.present_availability == True %}
                                <div class="present-availability-div present-available-div">
                                    <a href="#scroll" class="present-free-link">
                                        <p class="text-uppercase present-available-text">
                                            Book me!
                                        </p> 
                                        <!-- <img src="{{ url_for('static', filename='images/icons/present-form-icons/icon-present-available.svg') }}" class="present-availability-img" alt=""> -->
                                    </a>
                                </div>
                            {% else %}
                                <div class="present-availability-div">
                                    <img src="{{ url_for('static', filename='images/icons/present-form-icons/icon-present-booked.svg') }}" class="present-availability-img present-unavailable-img" alt="">
                                </div>
                            {% endif %}
                        </div>
                        <!-- present header image -->
                            <div class="present-img-div" style="background: url({{ present.present_header_image_URL}}) no-repeat center; background-size: 250px; filter: opacity(0.9)">
                            </div>
                        <!-- present information -->
                            <div class="present-content-div">
                                <h4 class="">{{ present.present_title }}</h4>
                                <p class="font-italic present-description-p">{{ present.present_description }}</p>
                                <p class="present-p">Quantity: {{ present.present_quantity }}</p>
                                <p class="present-p">Price: {{ present.present_price }}€</p>
                                <p class="present-p">Category: <span class="text-uppercase">{{ present.present_category }}</span></p>
                                {% if present.present_availability == True %}
                                    <p class="present-p"><span class="text-uppercase present-free">Free</span></p>
                                {% else %}
                                    <p class="present-p"><span class="text-uppercase present-reserved">Reserved</span> by {{ present.present_booked_by_name }}</p>
                                {% endif %}
                            </div>
                        </div>
                        </div>
                    {% endfor %}
            </div>
        </div>
    </div>
</section>


<section id="section-break">
    <!-- <svg viewBox="0 0 1440 441" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg">
        <defs>
            <clipPath id="theClippingPathBreak"> 
                <path d="M0 21.5874C280.961 -8.7993 439.535 -5.48794 720.5 21.4021C1001.45 44.6809 1159.08 45.1683 1440 21.4021V417.402C1165.12 449.261 1006.99 446.483 720.5 417.402C433.966 394.854 274.947 392.71 0 417.403V21.5874Z" fill="#E2D6CD"/>
            </clipPath> 
        </defs> 
        <image xlink:href="{{ url_for('static', filename='images/img-break.png') }}" clip-path="url(#theClippingPathBreak)"></image>
   </svg> -->
    <!-- <img src="{{ url_for('static', filename='images/section-img.png') }}" class="img-width-100" alt=""> -->
    <div id="scroll">
    </div>
</section>




<section id="section-form">
    <div class="container">
        <div class="form-text">
            <h3 class="text-center">Please submit your name and surname below:</h3>
        </div>
        <div class="row">
            <form action="{{ url_for('add_guest_username', wishlist_username=wishlist_username) }}" method="POST">
                <div class="form-group">
                    <!-- Name -->
                    <label for="user_name">Your Name</label>
                    <input type="text" class="form-control" id="user_name" name="user_name" required>
                    <!-- Surname -->
                    <label for="user_surname">Your Surname</label>
                    <input type="text" class="form-control" id="user_surname" name="user_surname" required>
                    <button type="submit" class="cta cta-button">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}