{% extends 'base.html'%}

{% block navlinks %}
    <li class="nav-item">
        <a class="nav-link text-uppercase" href="{{ url_for('homepage') }}">Home</span></a>
    </li>
{% endblock %}


{% block header %}
    <!-- header desktop -->
    <svg viewBox="0 0 1440 456" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg svg-hide-display">
        <path d="M0 0H1440V428C1154.28 463.616 994.274 464.759 708.5 430C435.096 396.559 279.852 395.667 0 428V0Z" fill="#E2D6CD"/>
    </svg>
    <!-- header mobile -->
    <svg viewBox="0 0 600 400" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg svg-display">
        <path d="M0 0H600V375.93C480.948 407.213 414.281 408.217 295.208 377.687C181.29 348.314 116.605 347.531 0 375.93V0Z" fill="#E2D6CD"/>
    </svg>
    <!-- header xs mobile -->
    <svg viewBox="0 0 320 250" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg svg-xs-display">
        <path d="M0 0H320V234.956C256.506 254.508 220.95 255.136 157.444 236.054C96.688 217.696 62.1894 217.207 0 234.956V0Z" fill="#E2D6CD"/>
    </svg>
    <div class="owner-header">
        <div class="owner-header-image-div">
            <img src="{{ the_wishlist.wishlist_header_image_URL }}" alt="Couple Photo">
        </div>
        <h1>{{ the_wishlist.wishlist_name }}</h1>
        <h3 class="text-center">{{ the_wishlist.wishlist_wedding_location }} - {{ the_wishlist.wishlist_wedding_date }}</h3>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <p class="text-center font-italic wishlist-description-p">"{{ the_wishlist.wishlist_description }}"</p>
    </div>
</div>
<div class="line desktop-line">
</div>

<section id="section-presents">
    <div class="container">
        <div class="presents">
            <div class="row ">
                
                    {% for present in displayed_presents %}
                        <div class="line mobile-line">
                        </div>
                        <div class="col-lg-4 col-md-6 present-card">
                        <div class="present-div">

                        <!-- book and unbook present buttons -->
                        <div class="present-availability-btns">
                            {% if present.present_booked_by_id == the_full_user_username_id %}
                                <div class="present-availability-div">
                                    <!-- Button trigger modal - Unbook Present-->
                                    <button class="present-availability-btn" data-toggle="modal" data-target="#unbookPresentModal{{ present._id }}">
                                        <img src="{{ url_for('static', filename='images/icons/present-form-icons/icon-present-unbook.svg') }}" class="present-availability-img" alt="">
                                    </button>
                                    <!-- Present Modal -->
                                    <div class="modal fade" id="unbookPresentModal{{ present._id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close close-modal-button" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">
                                                                <img src="{{ url_for('static', filename='images/icons/present-form-icons/icon-present-delete.svg') }}" class="present-availability-img" alt="">
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p class="text-center">
                                                            Are you sure you want to unbook
                                                            <br>
                                                            <span class="text-uppercase">"{{ present.present_title }}"?</span>
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="cta cta-button" data-dismiss="modal">Cancel</button>
                                                        <a href="{{ url_for('unbook_present', wishlist_username=wishlist_username, the_full_user_username_id=the_full_user_username_id, present_id=present._id) }}" class="return-link">Unbook</a>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            {% elif present.present_availability == False %}
                                <div class="present-availability-div">
                                    <img src="{{ url_for('static', filename='images/icons/present-form-icons/icon-present-booked.svg') }}" class="present-availability-img present-unavailable-img" alt="">
                                </div>
                            {% else %}
                                <div class="present-availability-div present-available-div">
                                    <a href="{{ url_for('book_present', wishlist_username=wishlist_username, the_full_user_username_id=the_full_user_username_id, present_id=present._id) }}" class="present-free-link">
                                        <p class="text-uppercase present-available-text">
                                            Book me!
                                        </p> 
                                        <!-- <img src="{{ url_for('static', filename='images/icons/present-form-icons/icon-present-available.svg') }}" class="present-availability-img" alt=""> -->
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                        <!-- present header image -->
                            <div class="present-img-div" style="background: url({{ present.present_header_image_URL}}) no-repeat center; background-size: 250px; filter: opacity(0.9)">
                            </div>
                        <!-- present information -->
                            <div class="present-content-div">
                                <h4 class="">{{ present.present_title }}</h4>
                                <p class="font-italic present-description-p">{{ present.present_description }}</p>
                                <p class="present-p">Quantity: {{ present.present_quantity }}</p>
                                <p class="present-p">Price: {{ present.present_price }}€</p>
                                <p class="present-p">Category: <span class="text-uppercase">{{ present.present_category }}</span></p>
                                {% if present.present_availability == True %}
                                    <p class="present-p"><span class="text-uppercase present-free">Free</span></p>
                                {% else %}
                                    <p class="present-p"><span class="text-uppercase present-reserved">Reserved</span> by {{ present.present_booked_by_name }}</p>
                                {% endif %}
                            </div>
                            
                        </div>
                        </div>


{% endfor %}
            </div>
        </div>
    </div>
</section>

    <div class="line">
</div>






{% endblock %}