{% extends 'base.html'%}
{% block content %}
<h1 class="text-uppercase">Book My Wedding Wish</h1>
<p>paragraph</p>

<!-- prepare the form -->
<h3>Create Wishlist</h3>

    <form action="{{ url_for('create_wishlist_name') }}" method="POST">
        <div class="form-group">
            <label for="wishlist_name">Wishlist Name</label>
            <input type="text" class="form-control" id="wishlist_name" name="wishlist_name">

            <!-- wishlist description -->
            <label for="wishlist_description">Wishlist Description</label>
            <input type="text" class="form-control" id="wishlist_description" name="wishlist_description">
            <!-- header image -->
            <label for="wishlist_header_image_URL">Wishlist Header Image</label>
            <input type="text" class="form-control" id="wishlist_header_image_URL" name="wishlist_header_image_URL">


            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>


{% endblock %}