{% extends 'base.html'%}
{% block content %}

<h1>WELCOME OWNER</h1>
<p>here add presents below</p>

<p>THIS IS THE DOC ID: {{ wishlist_id }}</p>
<p>wishlist username: {{ wishlist_username }}</p>
<p>THIS IS THE WHOLE DOC: {{ the_wishlist }}</p>

<h4>THESE ARE ALL PRESENTS IN THE DOC ABOVE:</h4>
<p>
{% for present in displayed_presents %}
        <li>
            <h5>{{ present.present_description }}</h5>
            <a href="{{ url_for('edit_present', wishlist_username=wishlist_username, present_id=present._id) }}" class="">Edit</a>
            <a href="{{ url_for('delete_present', wishlist_username=wishlist_username, present_id=present._id) }}" class="">Delete</a>
        </li>
{% endfor %}
</p>

<section id="section-form">
    <div class="container">
        <div class="form-text">
            <h3 class="text-center">FORM TO SUBMIT NEW PRESENTS</h3>
            <p class="text-center form-p">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
        </div>
        <div class="row">
            <form action="{{ url_for('add_new_present', wishlist_username=wishlist_username) }}" method="POST">
                <div class="form-group">
                    <!-- wishlist description -->
                    <label for="present_description">Present Description</label>
                    <input type="text" class="form-control" id="present_description" name="present_description">
                    <!-- header image -->
                    <label for="present_header_image_URL">Present Header Image</label>
                    <input type="text" class="form-control" id="present_header_image_URL" name="present_header_image_URL">
                    <button type="submit" class="cta cta-button">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>


<h4>EDIT WISHLIST</h4>
<a href="{{ url_for('edit_wishlist', wishlist_username=wishlist_username) }}">Edit wishlist</a>
<a href="{{ url_for('delete_wishlist', wishlist_username=wishlist_username) }}">Delete wishlist</a>
<a href="{{ url_for('guest_view_static', wishlist_username=wishlist_username) }}" class="">Visit Guest Page</a>

{% endblock %}