{% extends 'base.html'%}
{% block content %}

<h1>WELCOME OWNER</h1>
<p>here add presents below</p>

<p>THIS IS THE DOC ID: {{ new_wishlist_id }}</p>

<p>THIS IS THE WHOLE DOC: {{ the_wishlist }}</p>

<!-- <p>test {{ wishlist_presents }} </p> -->

<h4>THESE ARE ALL PRESENTS IN THE DOC ABOVE:</h4>
<p>
{% for present in displayed_presents %}
        <li>
            <h5>{{ present.present_description }}</h5>
            <a href="{{ url_for('edit_present', new_wishlist_id=new_wishlist_id, present_id=present._id) }}" class="">Edit</a>
            <a href="{{ url_for('delete_present', new_wishlist_id=new_wishlist_id, present_id=present._id) }}" class="">Delete</a>
        </li>
{% endfor %}
</p>


<h4>FORM TO SUBMIT NEW PRESENTS:</h4>
    <form action="{{ url_for('add_new_present', new_wishlist_id=new_wishlist_id) }}" method="POST">
        <div class="form-group">
            <!-- wishlist description -->
            <label for="present_description">Present Description</label>
            <input type="text" class="form-control" id="present_description" name="present_description">
            <!-- header image -->
            <label for="present_header_image_URL">Present Header Image</label>
            <input type="text" class="form-control" id="present_header_image_URL" name="present_header_image_URL">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

<h4>EDIT WISHLIST</h4>
<a href="{{ url_for('edit_wishlist', new_wishlist_id=new_wishlist_id) }}">Edit wishlist</a>
<a href="{{ url_for('delete_wishlist', new_wishlist_id=new_wishlist_id) }}">Delete wishlist</a>

{% endblock %}