{% extends 'base.html'%}
{% block content %}

<h1>WISHLIST BEING COMPLETED HERE</h1>

<p>{{ new_wishlist_id }}</p>
<p>{{ wishlist }}</p>

<section id="section-form">
    <div class="container">
        <div class="form-text">
            <h3 class="text-center">FORM TO COMPLETE THE WISHLIST</h3>
            <p class="text-center form-p">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
        </div>
        <div class="row">
            <form action="{{ url_for('complete_wishlist', new_wishlist_id=new_wishlist_id) }}" method="POST">
                <div class="form-group">
                    <!-- wishlist description -->
                    <label for="wishlist_description">Wishlist Description</label>
                    <input type="text" class="form-control" id="wishlist_description" name="wishlist_description" value="" required>
                    <!-- header image -->
                    <label for="wishlist_header_image_URL">Wishlist Header Image</label>
                    <input type="text" class="form-control" id="wishlist_header_image_URL" name="wishlist_header_image_URL" value="" required>
                    <!-- wedding date -->
                    <label for="wishlist_wedding_date">Wedding date</label>
                    <input type="text" class="form-control" id="wishlist_wedding_date" name="wishlist_wedding_date" value="" required>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>


{% endblock %}