{% extends 'base.html'%}

{% block navlinks %} 
    <li class="nav-item">
        <a class="nav-link text-uppercase" href="{{ url_for('owner_view_dynamic', wishlist_username=wishlist_username) }}">Return to wishlist</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-uppercase" href="{{ url_for('guest_view_static', wishlist_username=wishlist_username) }}" target="_blank">Visit Guest Page</a>
    </li>
{% endblock %}

{% block header %}
    <svg viewBox="0 0 1440 456" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg svg-hide-display">
        <path d="M0 0H1440V428C1154.28 463.616 994.274 464.759 708.5 430C435.096 396.559 279.852 395.667 0 428V0Z" fill="#E2D6CD"/>
    </svg>
    <svg viewBox="0 0 600 400" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg svg-display">
        <path d="M0 0H600V375.93C480.948 407.213 414.281 408.217 295.208 377.687C181.29 348.314 116.605 347.531 0 375.93V0Z" fill="#E2D6CD"/>
    </svg>
    <div class="owner-header">
        <div class="owner-header-image-div">
            <img src="{{ the_wishlist.wishlist_header_image_URL }}" alt="Couple Photo">
        </div>
        <h1>{{ the_wishlist.wishlist_name }}</h1>
        <h3 class="text-center">{{ the_wishlist.wishlist_wedding_location }} - {{ the_wishlist.wishlist_wedding_date }}</h3>
    </div>
{% endblock %}

{% block content %}
<section id="section-form">
    <div class="container">
        <div class="form-text">
            <h3 class="text-center">Please edit your wishlist information below:</h3>
        </div>
        <div class="row">
            <form action="{{ url_for('update_wishlist', wishlist_username=wishlist_username) }}" method="POST">
                <div class="form-group">
                    <!-- wishlist description -->
                    <label for="wishlist_description">Wishlist Description</label>
                    <textarea class="form-control wishlist-description" id="wishlist_description" name="wishlist_description" rows="3" maxlength="350" value="">{{ the_wishlist.wishlist_description }}</textarea>
                    <!-- header image -->
                    <label for="wishlist_header_image_URL">Wishlist Header Image</label>
                    <input type="url" class="form-control" id="wishlist_header_image_URL" name="wishlist_header_image_URL" value="{{ the_wishlist.wishlist_header_image_URL }}">
                    <!-- wedding date -->
                    <label for="wishlist_wedding_date">Wedding Date</label>
                    <input type="text" class="form-control" id="wishlist_wedding_date" name="wishlist_wedding_date" value="{{ the_wishlist.wishlist_wedding_date }}">
                    <!-- wedding location -->
                    <label for="wishlist_wedding_location">Wedding Location</label>
                    <input type="text" class="form-control" id="wishlist_wedding_location" name="wishlist_wedding_location" value="{{ the_wishlist.wishlist_wedding_location }}">

                    <button type="submit" class="cta cta-button">Submit</button>
                    <a href="{{ url_for('owner_view_dynamic', wishlist_username=wishlist_username) }}" class="return-link return-link-form text-center">Return to wishlist</a>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}


