{% extends 'base.html'%}

{% block navlinks %}
    <li class="nav-item">
        <a class="nav-link text-uppercase" href="{{ url_for('homepage') }}">Home</span></a>
    </li>
{% endblock %}


{% block header %}
<img src="{{ url_for('static', filename='images/header-dsk.png') }}" class="img-hide-display img-width-100" alt="">
<img src="{{ url_for('static', filename='images/header-mob.png') }}" class="img-display img-width-100" alt="">
{% endblock %}

{% block content %}
<section id="section-form">
    <div class="container">
        <div class="form-text">
            <h3 class="text-center">Please complete your wishlist information below:</h3>
        </div>
        <div class="row">
            <form action="{{ url_for('complete_wishlist', new_wishlist_id=new_wishlist_id) }}" method="POST">
                <div class="form-group">
                    <!-- wishlist description -->
                    <label for="wishlist_description">Wishlist Description</label>
                    <textarea class="form-control wishlist-description" id="wishlist_description" name="wishlist_description" rows="3" maxlength="350" value="" required></textarea>
                    <!-- header image -->
                    <label for="wishlist_header_image_URL">Wishlist Header Image</label>
                    <input type="url" class="form-control" id="wishlist_header_image_URL" name="wishlist_header_image_URL" value="" required>
                    <!-- wedding date -->
                    <label for="wishlist_wedding_date">Wedding Date</label>
                    <input type="text" class="form-control" id="wishlist_wedding_date" name="wishlist_wedding_date" value="" required>
                    <!-- wedding location -->
                    <label for="wishlist_wedding_location">Wedding Location</label>
                    <input type="text" class="form-control" id="wishlist_wedding_location" name="wishlist_wedding_location" value="" required>
                    <!-- wishlist theme radio buttons -->
                    <p class="label-title-radios">Wishlist colour theme</p>
                    <!-- https://bootsnipp.com/snippets/O5oAl -->
                    <div class="radio-buttons row">
                        <div class="col-2">
                            <label class="label-radio" for="wishlist-theme-1">
                                <input type="radio" name="wishlist_theme" id="wishlist-theme-1" value="#CFB7A5" checked>
                                <span class="checkround"></span>
                                <div class="wishlist-theme-option" id="wishlist-theme-option-1">
                                </div>
                            </label>
                        </div>
                        <div class="col-2">
                            <label class="label-radio" for="wishlist-theme-2">
                                <input type="radio" name="wishlist_theme" id="wishlist-theme-2" value="#DBC7AF">
                                <span class="checkround"></span>
                                <div class="wishlist-theme-option" id="wishlist-theme-option-2">
                                </div>
                            </label>
                        </div>
                        <div class="col-2">
                            <label class="label-radio" for="wishlist-theme-3">
                                <input type="radio" name="wishlist_theme" id="wishlist-theme-3" value="#CEB0A5">
                                <span class="checkround"></span>
                                <div class="wishlist-theme-option" id="wishlist-theme-option-3">
                                </div>
                            </label>
                        </div>
                        <div class="col-2">
                            <label class="label-radio" for="wishlist-theme-4">
                                <input type="radio" name="wishlist_theme" id="wishlist-theme-4" value="#E2D6CD">
                                <span class="checkround"></span>
                                <div class="wishlist-theme-option" id="wishlist-theme-option-4">
                                </div>
                            </label>
                        </div>
                        <div class="col-2">
                            <label class="label-radio" for="wishlist-theme-5">
                                <input type="radio" name="wishlist_theme" id="wishlist-theme-5" value="#CEBEC3">
                                <span class="checkround"></span>
                                <div class="wishlist-theme-option" id="wishlist-theme-option-5">
                                </div>
                            </label>
                        </div>
                        <div class="col-2">
                            <label class="label-radio" for="wishlist-theme-6">
                                <input type="radio" name="wishlist_theme" id="wishlist-theme-6" value="#D1D1CF">
                                <span class="checkround"></span>
                                <div class="wishlist-theme-option" id="wishlist-theme-option-6">
                                </div>
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="cta cta-button">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>


{% endblock %}