{% extends 'base.html'%}

{% block header %}
<img src="{{ url_for('static', filename='images/header-dsk.png') }}" class="img-hide-display img-width-100" alt="">
<img src="{{ url_for('static', filename='images/header-mob.png') }}" class="img-display img-width-100" alt="">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="text-center message-h3">Hope to see you soon!</h3>
            <p class="text-center message">Thank you for using BMWL - we're sad to see you go but remember you can create new wishlists anytime!</p>
            <p class="text-center"><a href="{{ url_for('homepage') }}" class="return-link">Return to Homepage</a></p>
        </div>
    </div>
</div>
{% endblock %}